<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Health Check</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200' rel='stylesheet' type='text/css'>
        <style>
        	body {
        		font-family: 'Titillium Web', sans-serif;
        		font-weight: 200;
        		text-align: center;
        		color: #999;
        	}
        	h1 {
        		font-weight: 400;	
        	}
        </style>
    </head>
    <body>
    	<h1>Healthy.</h1>
    	<p>Ok cool, this server is alive. good deal.</p>
    </body>
</html>